*{
	margin: 0;
	padding: 0:;
}
body{
	width: 100%
	font-family: 'Scheherazade New', serif;
}
.parallax{
	width:100%;
	height:100vh;
	background-image:url(u.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}
.text{
	background: #000;
	padding: 18px;
	width: 320px;
	text-align: center;
	color: #fff;
}
h2{
	font-size: 32px;
	font-weight: 300
}
.centro{
	max-width: 1100px;
	width: 90%;
	overflow: hidden;
	margin: auto;
}
.espacio{
	padding: 30px 0 60px 0
}
.espacio h2{
text-align: center;
padding: 30px;	
}
.espacio p{
	text-align: justify;
}

.parallax2{
	height: 450px;
	background-image: url(u2.png);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}
.parallax2 h2{
	background: #000;
	padding: 18px;
	width: 320px;
	text-align: center;
	color: #fff;
}
.centro2{
	max-width: 1100px;
	width: 90%;
	overflow: hidden;
	margin: auto;
}
.espacio2{
	padding: 30px 0 60px 0
}
.espacio2 h2{
text-align: center;
padding: 30px;	
}
.espacio2 p{
	text-align: justify;
}

.parallax3{
	height: 450px;
	background-image: url(u3.png);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}
.parallax3 h2{
	background: #000;
	padding: 18px;
	width: 320px;
	text-align: center;
	color: #fff;
}
.centro3{
	max-width: 1100px;
	width: 90%;
	overflow: hidden;
	margin: auto;
}
.espacio3{
	padding: 30px 0 60px 0
}
.espacio3 h2{
text-align: center;
padding: 30px;	
}
.espacio3 p{
	text-align: justify;
}
	